/*Variables*/
:root {
  --mainColor: rgb(55, 133, 255);
  --mainFont: "Lato", sans-serif;
  --timing: ease-out 0.3s;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--mainFont);
}
a {
  text-decoration: none;
  color: black;
}
/*Guía de estilos*/
/*Clases para textos*/
.title {
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}
.subTitle {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}
.textCenter {
  text-align: center;
}
/*Clases para cajas*/
.p-1 {
  padding: 0.5em;
}
.p-2 {
  padding: 1em;
}
.p-3 {
  padding: 1.5em;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.column {
  display: flex;
  flex-flow: column wrap;
}
.spaceBt {
  justify-content: space-between;
}
.jusfityCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.alignStretch {
  align-items: stretch;
}
/*Img*/
.imgFluid {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.imgRounded {
  border-radius: 100%;
}
/*Estilos*/
.movie header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.logo {
  color: var(--mainColor);
  font-size: 2em;
  font-weight: 700;
}
.mainMenu a {
  font-size: 1em;
  background: white;
  text-transform: capitalize;
  margin: 0 1rem;
  padding: 0.8rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: var(--timing);
}
.mainMenu a:hover {
  border: 1px solid var(--mainColor);
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(55, 133, 255, 0.2);
}
.mainMenu a i {
  opacity: 0.5;
  margin-bottom: 0.325rem;
  font-size: 1.2em;
  transform: translateY(0);
  transition: var(--timing);
}
.mainMenu a:hover i {
  opacity: 1;
  color: var(--mainColor);
}
.mainMenu a p {
  font-weight: 700;
  transition: var(--timing);
}
.mainMenu a:hover p {
  color: var(--mainColor);
}
.nameUser {
  font-weight: 700;
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: var(--timing);
}
.nameUser:hover {
  border: 1px solid var(--mainColor);
  box-shadow: 0 0 0 transparent;
}
.photoUser {
  width: 40px;
  margin-left: 0.625rem;
  transform: scale(1);
  transition: var(--timing);
}
.photoUser img {
  border: 2px solid var(--mainColor);
  transition: var(--timing);
}
.nameUser:hover .photoUser img {
  transform: scale(1.125);
  border: 0 solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
